<div class="container">
    <div class="card w-100 mt-4">
        <h4 class="card-header"> 
            Boot Eintrag anzeigen
        </h4>
        <div style="margin-left: 5%; margin-right: 5%;">
            <% if(boat.image) { %>
            <div class="row">
                <div class="col-12">
                    <img class="w-100 p-2" src="/images/boats/<%= boat.image %>">
                </div>
            </div>
        <% } %>
            <div class="row">
                <div class="col-2">
                    Name:
                </div> 
                <div class="col-10">
                    <%= boat.name %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Preis:
                </div> 
                <div class="col-10">
                    <%= boat.price %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Beschreibung:
                </div> 
                <div class="col-10">
                    <%= boat.description %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Zustand:
                </div> 
                <div class="col-10">
                    <%= boat.condition %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Details:
                </div> 
                <div class="col-10">
                    <%= boat.details %>
                </div>
            </div>
            <% if(boat.category) { %>
                <div class="row">
                    <div class="col-2">
                        Kategorie:
                    </div>
                    <div class="col-10">
                        <%= boat.category.name %> 
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <div style="margin-top: 5%;">
    <% if(req.me.isSuperAdmin) { %>
    <a class="blue-button mt-4" href="/boat">Zurück</a>
    <% } else { %>
        <a class="blue-button mt-4" href="/welcome">Zurück</a>
        <% } %>
    </div>
</div>
